*.terraform
*.terraform.lock.hcl
.suo
bin
obj
.vs
packages
Shopy.API/data/top10milliondomains.csv
Shopy.API/ShopifyJsons/
*.idea
*.venv
*postgres-data
*postgres-scheduler-data
/Shopy.Data/data/CSV/Output/ProductClusterization
/Shopy.Data/data/CSV/Output/ClassificationAmazonCategories
Shopy.Data/data/CSV/Output/
.DS_Store
*Shopy.sln.DotSettings.user
*/Shopy.sln.DotSettings.user

# NuGet package artifacts
nupkg/
*.nupkg
*.snupkg
tmp.md
